:root {
  top: 0;
}

html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

/* Ensure Ant Design message has a high z-index */
.ant-message {
  z-index: 999999999 !important;
}

.app-container {
  display: flex;
  height: 100%;
  background-color: var(--main-bg-color);
}

.left-panel {
  width: 200px;
  transition: width 0.2s ease-in-out;
  overflow: hidden;
  background-color: var(--panel-bg-color);
  border-right: 1px solid var(--border-color);
  &.active {
    width: 200px;
  }
  &.inactive {
    width: 10px;
  }
}

.content {
  min-height: 300px;
  border: 2px dashed var(--border-color);
  position: relative;
  background-color: var(--canvas-bg-color);
}

.draw-panel {
  flex: 1;
  height: 100%;
  overflow: auto;
  padding: 20px;
  transition: all .3s;
  background-color: var(--secondary-bg-color);
}

.right-panel {
  width: 200px;
  background-color: var(--panel-bg-color);
  border-left: 1px solid var(--border-color);
}

.show-list {
  /* 垂直居中 */
  height: 20px;
  width: 20px;
  background-color: var(--main-bg-color);
  color: var(--text-color);
  border: 1px solid var(--border-color);
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  z-index: 10;
  margin-top: 40vh;
  transition: all 0.3s;

  &:hover {
    background-color: var(--secondary-bg-color);
    color: var(--actived-text-color);
    border-color: var(--actived-text-color);
  }
}

/* 移动端适配样式 */
@media (max-width: 768px) {
  html, body, #root {
    overflow: auto;
    height: auto;
  }
  .toolbar{
    display: none;
  }
  .left-btn{
    display: none;
  }
  .right-panel {
    display: none;
  }

  .app-container {
    flex-direction: column;
    height: auto;
    overflow: auto;
  }

  .left-panel {
    width: 100% !important;
    height: auto;
    max-height: 40vh;
    overflow-y: auto;
    &.inactive {
      width: 100% !important;
      height: 40px;
    }
  }

  .draw-panel {
    width: 100%;
    height: 80vh;
    padding: 10px;
  }

  .content {
    height: 80vh;
  }
}