:root {
  top: 0;
}

html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.app-container {
  display: flex;
  height: 100%;
}

.left-panel {
  width: 200px;
  transition: width 0.2s ease-in-out;
  overflow: hidden;
  &.active {
    width: 200px;
  }
  &.inactive {
    width: 10px;
  }
}
.content {
  min-height: 300px;
  border: 2px dashed #ccc;
  position: relative;
  background-color: rgba(200, 200, 200, 0.3);
}
.draw-panel {
  flex: 1;
  background: var(--secondary-bg-color);
  height: 100%;
  overflow: auto;
  padding: 20px;
  transition: all .3s;
}

.right-panel {
  width: 200px;
}
.show-list {
  /* 垂直居中 */
  height: 20px;
  width: 20px;
  background-color: #4285f4;
  color: white;
  border: 1px;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius:  0 50% 50% 0;
  cursor: pointer;
  z-index: 10;
  margin-top: 40vh;
}