.attr-list {
  padding: 16px;
  overflow-y: auto;
  height: 100%;
  background-color: var(--panel-bg-color);
  border-left: 1px solid var(--border-color);
  color: var(--text-color);

  .ant-typography {
    color: var(--text-color);
  }

  h5.ant-typography {
    color: var(--text-color) !important;
    margin-bottom: 16px;
  }

  .ant-form {
    .ant-form-item {
      margin-bottom: 12px;
      
      .ant-form-item-label > label {
        color: var(--text-color);
      }
    }
  }
}

.attr-list-empty {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  color: var(--text-color);
  font-size: 14px;
} 